<div class="container top-container">
  <h1>My Plans</h1>
  <div class="row">

    <% plans.forEach((plan) => {%>
      <div class="col-xs-12 col-sm-6 concert-card">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title concert">
              <a href="/plans/<%= plan.planId._id %>/detail"><%= plan.planId.author.name %>'s Plan</a>
            </h5>
            <p class="card-text">
              <i class="fa fa-map-marker-alt"></i> <%= plan.planId.locationId %> -
              <i class="fa fa-clock"></i> <%= plan.planId.date %>
            </p>
            <p class="card-text">
            <i class="fa fa-hand-point-right"></i> <%= plan.planId.description %>
            </p>
            <a href="/plans/<%= plan.planId._id %>/leave" class="btn btn-danger leave-plan">
              <i class="fa fa-minus align-middle"></i> <span class="align-middle"> Leave...</span>
            </a>
            <a href="/plans/<%= plan.planId._id %>/detail" class="btn btn-primary">
            <i class="fa fa-search align-middle"></i> <span class="align-middle"> View</span>
            </a>
          </div>
        </div>
      </div>
    <% }) %>         
  </div>
</div>