<h1>HOLA</h1>
<div class="row">

    <% plans.forEach((plan) => {%>
      <div class="col-xs-12 col-sm-6 concert-card">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title concert">
              <a href="/plans/<%= plan.planId._id %>/detail"><%= plan.planId.author.name %>'s Plan</a>
            </h5>
            <p class="card-text">
              <%= plan.planId.locationId %>
            </p>
            <p class="card-text">
              <%= plan.planId.description %>
            </p>
            <a href="/plans/<%= plan.planId._id %>/join" class="btn btn-success join-plan">
              <i class="fa fa-plus align-middle"></i> <span class="align-middle"> Join!</span>
            </a>
            <a href="/plans/<%= plan.planId._id %>/detail" class="btn btn-primary">
            <i class="fa fa-search align-middle"></i> <span class="align-middle"> View</span>
            </a>
          </div>
        </div>
      </div>
    <% }) %>
          
  </div>