<h1>My Profile</h1>
    <div>
        <p>Username: <%= user.username%></p>
    </div>
    <div>
        <p>Name: <%= user.name%></p>
    </div>
    <div>
        <p>Age: <%= user.age%></p>
    </div>
    <div>
        <p>Address:</p>
        <p>-Country:<%= user.address.country%></p>
        <p>-City:<%= user.address.city%></p>
    </div>
