<!-- Detalle de un plan especifico -->
<p>Descripcion: <%= plan.description %></p>
<h1>Local: <%= plan.locationId %></h1>
<p>Hora: <%= plan.date %></p>

<% if(user.id == plan.author){ %>
    <a href="/plans/<%= plan._id%>/edit">Edit Plan</a> <br>
    <a href="/plans/<%= plan._id %>/delete">Borrar Plan</a>
<% } %>