<!-- Detalle de un plan especifico -->


<div class="container top-container">
  <div class="row">
    <div class="col">
    <h1>Local: <%= plan.locationId %></h1>
    <p>Descripcion: <%= plan.description %></p>
    <p>Hora: <%= plan.date %></p>
    
    <% if(user.id == plan.author){ %>
        <a href="/plans/<%= plan._id%>/edit">Edit Plan</a> <br>
        <a href="/plans/<%= plan._id %>/delete">Borrar Plan</a>
    <% } %>
  </div>
  <hr>    
</div>