<div class="container top-container">
    <div class="row">
        <div class="col col-lg-8 push-lg-2">
        <% if(user.id == plan.author){ %>
            <h2>Create a plan!</h2>
               
            <form action="/plans/<%= plan.id %>/edit" method="POST" id="form-container">
            <table class="table">
            <tbody>
                <tr>
                    <td>
                        Location:
                    </td>
                    <td>
                        <input id="pac-input" class="controls form-control" type="text" name="location" placeholder="Location" value="<%= plan.locationId %>">
                    </td>
                </tr>
                <tr>
                    <td colspan="2"> <div id="map"></div> </td>
                </tr>
                <tr>
                    <td>Description: </td>
                    <td>
                        <textarea id="description" name="description" class="form-control"><%= plan.description %></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Time: </td>
                    <td>
                        <input id="time" type="time" name="time" value="<%= plan.date %>" class="form-control">
                    </td>
                </tr>
            </tbody>
            </table>               
                <% if (typeof message !== "undefined") { %>
                <div class="error-message">
                    <%= message %>
                </div>
                <% } %>
                <hr>
                <button id="create" class="btn btn-success float-right">Save Plan</button>
            </form>
        <% }else{ %>
            <h1>NO PUEDES EDITAR UN PLAN CREADO POR OTRO USUARIO</h1>
        <% } %>
        </div>
    </div>
    </div>
<script> 
    const concertData = <%- JSON.stringify(concert) %>
</script>
<script src="../../js/google-places.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz1pkGaOuTp9F8AYApYt_QHr3YusicTUA&libraries=places&callback=initMap">
</script>