<div class="container">
  <div class="row ">
    <div class="col concert-detail">
      <% if(event.images != null && Array.isArray( event.images.image) ){ %>
        <div class="concert-img" style="background-image: url(<%= event.images.image[0].medium.url %>)" alt=""></div>
      <% } else if(event.images != null && typeof event.images.image == "object" ){%>
        <div class="concert-img" style="background-image: url(<%= event.images.image.medium.url %>)" alt=""></div>
      <% } else{ %>
      <div class="concert-img" style="background-image: url('../img/party.jpg')" alt="">
      <% } %>
    </div>
    </div>
  <div class="row top-container">
    <div class="col-xs-12 col-md-6">
      <h3><i class="fa fa-microphone"></i> <%= event.title %></h3> 
      <% if(event.performers != null){ %>
      <h4><%= event.performers.performer.short_bio %></h4>
      <% } %>
      <br>
      <h5> <i class="fa fa-calendar-alt"> </i> <%= event.start_time%></h5>
      <br>
      <h5><i class="fa fa-map-marker-alt"></i> <%= event.city %> - <%= event.venue_name %></h5>
      <h6><%= event.address %></h6> 
    </div>
    <div class="col-xs-12 col-md-6">
      <div id="map"></div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col">
      <h2 class="margin-top-30">Plans for this concert</h2>
      <a href="/plans/<%= event.id%>/new" class="btn btn-success margin-bottom-20">Add Plan</a>
    </div>
  </div>
  <div class="row">

    <% for( let i = 0; i < plans.length; i++) {%>
      <div class="col-xs-12 col-md-6 concert-card">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title concert">
              <a href="/plans/<%= plans[i].planId._id %>/detail"><%= plans[i].planId.author.name %>'s Plan</a>
            </h5>
            <p class="card-text">
              <i class="fa fa-map-marker-alt"></i> <%= plans[i].planId.locationId %><br>
              <i class="fa fa-clock"></i> <%= plans[i].planId.date %>
              </p>
              <p class="card-text">
              <i class="fa fa-hand-point-right"></i> <%= plans[i].planId.description %>
            </p>
            <% if (!going[i]){ %>
            <a href="/plans/<%= plans[i].planId._id %>/join" class="btn btn-success join-plan">
            <i class="fa fa-plus align-middle"></i> <span class="align-middle"> Join!</span>
            </a>
            <% } else{%>
            <a href="/plans/<%= plans[i].planId._id %>/leave" class="btn btn-danger leave-plan">
            <i class="fa fa-minus align-middle"></i> <span class="align-middle"> Leave..</span>
            </a>
            <%}%>
            <a href="/plans/<%= plans[i].planId._id %>/detail" class="btn btn-primary">
            <i class="fa fa-search align-middle"></i> <span class="align-middle"> View</span>
            </a>
          </div>
        </div>
      </div>
    <% }%>
  </div>
<div>
<script>
  const concertData = <%- JSON.stringify(event) %>
</script>
<script src="../../js/google-places.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz1pkGaOuTp9F8AYApYt_QHr3YusicTUA&libraries=places&callback=viewConcert">
</script>