<h1>Concerts Search</h1>

Run Sample api searches <br><br>

<label for="where">Where?</label><br>
<input id="where" type="text" name="where" /><br><br>

<label for="performer">Who?</label><br>
<input id="performer" type="text" name="where" /><br><br>

<input type="button" onclick="show_events()" value="Show Events" /> <br>
<br>
<hr>
<br>

<div id="search-results"></div>
<hr>
<h2>Suggested Concerts near you!</h2>
<div id="suggested-concerts">
  <% events.forEach((event) => {%>
  <div class="concert-card">
    <h3 data-id="<%= event.id %>" class="concert"><%= event.title %></h3>
    <p><%= event.venue_name %> - <%= event.city_name %></p>
    <p><%= event.start_time %></p>
  </div>
  <% }) %>
 </div> 
 <script src="../libs/js/eventful-api.js"></script>
 <script src="../libs/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/events.js"></script>





